// Fonts
$main-font-stack:'Montserrat', sans-serif;
$secondary-font-stack:'Roboto', sans-serif;
$description-font-stack:'Kaushan Script', cursive;

// Colors
$main-font-color:#999999;
$main-title-color:#333333;
$main-accent-color:#fce38a;
$secondary-accent-color:#f38181;
$top-title-color: #ffffff;
$main-underline-color:#e7e7e7;
$site-header-color:#ffffff;
$image-shadow-color:#1abc9c;
$button-footer-color:#95e1d3;
$input-border-color:#e7e7e7;
$text-selection-color:azure;

// Font Sizes
$main-font-size: 14px;
$secondary-font-size: 15px;
$logo-font-size: 30px;
$main_header-font-size: 72px;
