*,
*::before, 
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0; 
    list-style: none;
    text-decoration: none;
    color: #999999;
    
}
::-moz-selection {
  background: #f38181;
  color: azure;
}
::selection {
  background: #f38181;
  color: azure;
}

.description {
  text-transform: none;
  display: block;
  font-family: 'Kaushan Script', cursive;
  
}

.description_top {
  font-size: 72px;
  color: white;
  margin-bottom: 10px;
 
}

.description_main{
padding-top: 46px;
font-size: 24px;
color: #333333;
margin-bottom: 14px;
}

.title {
  text-transform: uppercase;
  font-family:'Montserrat', sans-serif;
}

.title_top {
  
  font-size: 150px;
  color: white;
  line-height: 92%;
  max-width: 1050px;
  text-align: center;
  margin: 0 auto 106px;
}

.title_secondary {
  font-size: 30px;
  color: #333333;
  position: relative;
  margin-bottom: 150px;
}
.title_secondary::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  position: absolute;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -69px;
  left: 50%;
}
.title_secondary:hover::after  {
  width: 200px;
}

/* Header */

/* LOGO */
.page-header {
  background: url(../img/Layer\ 15.jpg);
  height: 1000px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.site-logo {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 30px;
  font-weight: bold;
  color: white;
  -webkit-animation: logo-anime .7s linear .1s;
          animation: logo-anime .7s linear .1s;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  }
  .site-logo:hover {
    color: #fce38a;
    -webkit-animation: logo-spin .7s ease .2s;
            animation: logo-spin .7s ease .2s;
  }
  .site-logo:focus {
    color: #fce38a;
    outline: none;
    -webkit-animation: logo-spin .7s ease .2s;
            animation: logo-spin .7s ease .2s;
  }

@-webkit-keyframes logo-anime {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes logo-anime {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes logo-spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes logo-spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* BUTTONS */
.button{
  height: 40px;
  width: 150px;
  border: none;
  color: white;
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  display:inline-block;
}
.top_button {
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid rgba(255, 255, 255, 1);
  display: block;
  margin: 0 auto;
}
.subscribe_button {
  background-color: #95e1d3;
  
}
.top_button:hover, 
.top_button:focus {
  background-color: rgba(255, 255, 255, 1);
  color: #f38181;
  outline: none;
  cursor: pointer;
}

.subscribe_button:focus,
.subscribe_button:hover {
  outline: none;
  color: #95e1d3;
  background-color: #f38181;
  cursor: pointer;
}

/* NAV and Icons */
.icon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  stroke-width: 0;
  stroke: currentColor;
  
}
.site-navigation__icon  {
  fill: white;
  font-size: 1rem;
}
.site-navigation__icon:hover  {
  fill:#fce38a;
}

.site-navigation__link {
  display: block;
  color: white;
}
.page-nav {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 38px;
  margin-bottom: 120px;
}

.site-navigation {
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-navigation__link::after {
  content: "";
  display: block;
  min-width: 35px;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  margin-top: 12px;
  opacity: 0;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;    
}
.site-navigation__item:not(:nth-last-child(1)) {
  margin-right: 52px;
}


.site-navigation__link {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.site-navigation__item:hover .site-navigation__link::after {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.site-navigation__item:focus .site-navigation__link::after {
  opacity: 1;
}
.site-navigation__link:hover  {
  color: #fce38a;
}
.site-navigation__link:focus {
  outline: none;
  color: #fce38a;
}

.site-navigation__link:hover .site-navigation__link::after {
  opacity: 1;
}


/* Main Servicer */

.services__name {
  text-transform: uppercase;
  font-family:'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
}
.services{
  margin-bottom: 42px;
}
.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  position: relative;
  padding-left: 60px;
  max-width: 334px;
  height: 85px;
  
}
.services__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 95px;
}

.services__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.services__icon {
  position: absolute;
  top: 3px;
  left: 20px;
  font-size:1.5em
}

.services__describe {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 22px;
  
}

/* ABOUT US */


.team_section {
  margin-bottom: 82px;
}
.team_paragraph {
  display: inline-block;
  margin-bottom: 92px;
  max-width: 930px;
}
.team_list {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 380px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;

}
.team_picture {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  margin-bottom: 30px;
  
}
.team_cart {
  position: relative;
  
}

.icon_link--instagram, 
.icon_link--facebook,  
.icon_link--twitter,  
.icon_link--pinterest {
  height: 55px;
  width: 55px;
  background-color:#fce38a;
  position: absolute;
  top: 206px;
  z-index: 666;
}
.icon_link--facebook{
  left: 80px;
}
.icon_link--twitter {
  left: 136px;
}
.icon_link--pinterest {
  left: 192px;
}
.icon_link--instagram {
  left: 248px;
}
.icon_link {
  fill: #f38181;
  font-size:1.2em
}
.icon_link:hover .icon_social {
  fill: white;
}
.icon_link:hover {
  background-color: #f38181;
}
.icon_link {
  display: block;
  position: absolute;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
  opacity: 0;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.team_gradient{
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(238,137,138,.9)), to(rgba(230,208,129,.9)));
  background: -webkit-linear-gradient(top, rgba(238,137,138,.9), rgba(230,208,129,.9));
  background: -o-linear-gradient(top, rgba(238,137,138,.9), rgba(230,208,129,.9));
  background: linear-gradient(to bottom, rgba(238,137,138,.9), rgba(230,208,129,.9));
  top: 0;
  left: 0;
  z-index: 1111;
  height: 470px;
  width: 380px;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(26,188,156,0);
          box-shadow: 10px 10px 0px 0px rgba(26,188,156,0);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  opacity: 0;
}
.team_cart:hover .team_gradient,
.team_cart:hover .icon_link,
.team_cart:hover .member_pic {
  opacity: 1;
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

.team_cart:hover .team_gradient {
  -webkit-box-shadow: 10px 10px 0px 0px #1abc9c;
          box-shadow: 10px 10px 0px 0px #1abc9c;
}
.team_name {
  font-family:'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 14px;

}
.team_job {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  
}

main::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e7e7e7;
}
/* FOOTER */
.footer {
  min-height: 64px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright {
  font-family:'Montserrat', sans-serif;
  font-size: 14px;
  color: #333333;
}

.autor_link {
  color: #333333;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.autor_link:hover {
  color:#f38181;

}
.autor_link:focus {
  outline: none;
  color:#f38181;
}
.input_email {
  height: 40px;
  width: 230px;
  text-indent: 10px;
  border: solid 1px;
  border-color: #e7e7e7;
  font-family: 'Roboto', sans-serif;
  font-weight: italic; 
  -webkit-transition: all .2s; 
  -o-transition: all .2s; 
  transition: all .2s;
}
.input_email:hover{
  
  border-color:  #f38181;
}
.input_email:focus{
  outline: none;
  border-color: #f38181;
}

::-webkit-input-placeholder { /* Firefox, Chrome, Opera */ 
  font-style: italic; 
  color: #999999;
}

:-ms-input-placeholder { /* Firefox, Chrome, Opera */ 
  font-style: italic; 
  color: #999999;
}

::-ms-input-placeholder { /* Firefox, Chrome, Opera */ 
  font-style: italic; 
  color: #999999;
}

::placeholder { /* Firefox, Chrome, Opera */ 
  font-style: italic; 
  color: #999999;
} 

.input_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}