$color-white:#ffffff;
$color-dark:#2c2c2c;
$color-yeollow:#fec02b;
$color-grey: #797c7e;
$color-text--tasks: #282828;
$color-text--main: #888b94;
$color-slider:#ebebeb;
$color-blue:#187af0;
$font-Helvetica: "Helvetica";
$font-Oswald: "Oswald";
