@media (max-width: 767px) {
.header {
    height: 542px;
    background: url(../img/Rectangle1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
.login_butt {
    margin-bottom: 118px;
}

.partner_cart:not(:last-child) {
    margin-bottom: 28px;
    }
.top_paragraph {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
  }
  .nav_wr {
    margin-bottom: 32px;
}

}

@media (min-width: 768px)  {
.header {
    height: 700px;
    background: url(../img/Rectangle2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
    }
.top_paragraph {
    font-size: 51px;
    color: white;
    text-transform: uppercase;
    }
.button_to_find, .find_partners {
    width: 226px;
}
.nav_wr {
    margin-bottom: 150px;
}
.partner_cart:not(:nth-last-child(-n+2)) {
    margin-bottom: 28px;
}

}
@media (min-width: 992px) {
.header {
    height: 700px;
    background: url(../img/Rectangle3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}
.button_to_find, .find_partners {
    width: 226px;
}

.top_paragraph {
    font-size: 51px;
    color: white;
    text-transform: uppercase;
}
}

