%form_title {
  text-transform: uppercase;
  font-family: $font-Oswald;
  font-weight: 700;
  font-size: 15px;
}

%btn_zer {
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
