*,
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    list-style: none;
    text-decoration: none;
}

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../fonts/roboto-v19-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v19-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-100italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
       url('../fonts/roboto-v19-latin-100italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v19-latin-100italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v19-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v19-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v19-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v19-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
       url('../fonts/roboto-v19-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v19-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --default-font: 'Roboto';
  --default-font-size: '16px';
}
html {
  font-size: 16px;
}
img {
  width: 100%;
  height: auto;
  display: block;
  }
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* Header */
.logo {
  font-size: 3rem;
}
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.nav_link {
  display: block;
  font-size: 2rem;
}

.navigation {
flex-basis: 700px;
display: flex;
/* flex-direction: row;
flex-wrap: wrap; */
flex-flow: row-reverse wrap;
justify-content: space-between;
}

/* our team */

.first_title{
  font-size: 68px;
  font-weight: 300;
  margin: 0 0 100px;
  text-align: center;
}
.team_list{
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

}
.team_item {
  flex-basis: 280px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: column wrap;
  padding: 20px;
  transition: all .3s ease-in-out 1s;
}
@keyframes team_item {
  0% {
    transform: none;
  }
  25% {
    transform: rotate(360deg);
  }
  50% {
    transform: none;
  }
  75% {
    transform: rotate(-360deg);
  }
  100% {
    transform: none;
  }
}

.team_item:hover {
  /* transform:  skewY(20deg); */
animation: team_item 10s infinite;
}
.name, .position {
  text-align: center;
}
.name {
  font-size: 2rem;
  margin-bottom: 10px;
}
.team_item:not(:nth-last-of-type(-n+2)):not(.team_item_vertical) {
  margin-bottom: 60px;
}
.position {
  color: grey;
}
.team_img {
  margin-bottom: 10px;
}
.team_list_vertical {
  align-items: flex-start;
  height: 760px;
}
.team_item_vertical {
  width: 280px;
  
}
/* boxex */
.box_wrapper {
  display: flex;
  flex-flow: row wrap;

}
 .box {
   height: 200px;
 }
 .box:nth-of-type(1) {
   flex-basis: 200px;
   flex-grow: 1;
   background-color: aqua;
 }
 .box:nth-of-type(2) {
  flex-basis: 250px;
  flex-grow: 1;
  background-color: blueviolet;
}
.box:nth-of-type(3) {
  flex-basis: 150px;
  flex-grow: 2;
  background-color: orange;
}
/* Rocket */
.rocket {
  width: 180px;
  height: 180px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: url('../img/rocket.png');
  background-size: contain;
  animation: rocket 15s linear forwards;
}
@keyframes rocket {
0% {
  transform: translate(-50%, -50%);
}
10% {
  transform: translate(-50%, -45%);
}
20% {
  transform: translate(-50%, -50%);
}
22% {
  transform: translate(-50%, -55%);
}
24% {
  transform: translate(-50%, -50%);
}
26% {
  transform: translate(-50%, -45%);
}
28% {
  transform: translate(-50%, -50%);
}
30% {
  transform: translate(-50%, -55%);
}
40% {
  transform: translate(-50%, -50%);
}

60% {
  transform:  translate(-50%, -50%) rotate(45deg);
}
100% {
  transform:  translate(10000px, -10000px) rotate(45deg);
}
}

/* Vw & Vh */
.row {
  display: flex;
}

.col {
  height: 100vh;
}

.col:nth-of-type(1) {
width: 30vw;
background: pink;
}
.col:nth-of-type(2) {
  width: 70vw;
  background: yellow;
  
}
.text_section {
  font-size: 10vw;

}

/* table */
.table {
  border-collapse: collapse;
  margin: 0 auto;
}
td, th {
  padding: 10px 20px;
}
.table tbody {
  background: gold;
  
}
table tbody td {
  border: 2px solid greenyellow;
}
.table thead {
  background: skyblue;
  border:  2px solid rebeccapurple;
}